body {
    font: 16px sans-serif;
}

.button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

.button:hover {
    background-color: orange;
}

#button-f2 {
    background-color: red;
}

.vis {
    text-align: center;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

#f1-line {
    stroke: #a6cee3;
}

#f1-zone1-line {
    stroke: #1f78b4;
}

#f1-zone2-line {
    stroke: #b2df8a;
}

#f1-zone3-line {
    stroke: #33a02c;
}

#f1-zone4-line {
    stroke: #fb9a99;
}

#f1-zone5-line {
    stroke: #e31a1c;
}

#f1-zone7-line {
    stroke: #fdbf6f;
}

#f1-zone8a-line {
    stroke: #ff7f00;
}

#f1-zone8b-line {
    stroke: #cab2d6;
}

#f1-zone1-text {
    color: #1f78b4;
}

#f1-zone2-text {
    color: #b2df8a;
}

#f1-zone3-text {
    color: #33a02c;
}

#f1-zone4-text {
    color: #fb9a99;
}

#f1-zone5-text {
    color: #e31a1c;
}

#f1-zone6-text {
    color: #858585;
}

#f1-zone7-text {
    color: #fdbf6f;
}

#f1-zone8a-text {
    color: #ff7f00;
}

#f1-zone8b-text {
    color: #cab2d6;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis text {
    font: 10px sans-serif;
}

.y.axis text {
    font: 12px sans-serif;
}

svg {
  position: absolute;
}